<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-5 d-none d-sm-inline">Главная</span>
        </a>
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li>
                <a href="{{ path('get_items_list') }}" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i>
                    <img src="{{ asset('images/item.png') }}" width="30" height="30">
                    <span class="ms-1 d-none d-sm-inline">Снаряжение</span>
                </a>
            </li>
{#            <li>#}
{#                <a href="{{ path('users_list') }}" class="nav-link px-0 align-middle">#}
{#                    <i class="fs-4 bi-table"></i>#}
{#                    <img src="{{ asset('images/user.png') }}" width="30" height="30">#}
{#                    <span class="ms-1 d-none d-sm-inline">Пользователи</span>#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="{{ path('get_basket_item_list') }}" class="nav-link px-0 align-middle">
                    <i class="fs-4 bi-table"></i>
                    <img src="{{ asset('images/history.png') }}" width="30" height="30">
                    <span class="ms-1 d-none d-sm-inline">Корзина</span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>
